.timer {
    
    flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 500px;
}

.timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #cceeff;
    box-shadow: 10px 10px rgba(0,0,0,0.2); 
    /* box-shadow: 5px 10px #888888; */
    /* width:350px;
   height:120px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);  */
}

/* .timer-container::after{
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
}

.timer-container::before{
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
} */

.label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

button {
    font-size: 1rem;
    cursor: pointer;
    background-color: #fee1e8;
    border-radius: 24px;
   
}

#timer-label {
    margin: 0;
}

#time-left {
    font-size: 2.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    background: grey;
    border-radius: 1rem;
    
     
    
}