.timer {
    
    flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 500px;
}

.timer-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #cceeff;
    /* border: solid grey; */
    box-shadow: 5px 10px #888888
    
}

.label-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

button {
    font-size: 1rem;
    cursor: pointer;
    background-color: pink;
    border-radius: 24px;
   
}

#timer-label {
    margin: 0;
}

#time-left {
    font-size: 2.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    background: black;
    border-radius: 1rem;
}