.Header {
    /* background-color: grey; */
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
    /* opacity: 0.9; */
    background: rgba(204, 204, 204, 0.6);
}

h1{
    font-size: 75px;
    font-family: 'Titan One', cursive;
    text-shadow: 2px 2px #ccddff;
    align-items: center;
    padding-left: 250px;
}

.Header a {
    text-decoration: none;
    color: #ffffff
}

.NavLinks {
    list-style: none;
    display: flex;
}
.NavLinks li {
    margin-right: 20px;
}

img {
    height: 150px;
    padding-top: 10px;
    padding-right: 60px;
    
    
}