.Header {
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
    color: #ffffff
}

.NavLinks {
    list-style: none;
    display: flex;
}
.NavLinks li {
    margin-right: 20px;
}

img {
    border: solid red;
    background-color: transparent;
    padding-top: 40px;
    
   

}