.Header {
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
}

h1{
    font-size: 75px;
    font-family: 'Titan One', cursive;
    text-shadow: 2px 2px #ccddff;
}

.Header a {
    text-decoration: none;
    color: #ffffff
}

.NavLinks {
    list-style: none;
    display: flex;
}
.NavLinks li {
    margin-right: 20px;
}

img {
    height: 150px;
    padding-top: 10px;
    padding-right: 60px;
    
    
}