*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Page > h1 {
  margin-bottom: 50px;
}

.flex{
  display: flex;
  align-items: center;
}

.timer-container {
  margin: 20px;
  text-align: center;
}

.actions-wrapper {

}

.actions-wrapper button{
  background-color: transparent;
  padding: 15px ;
  margin: 10px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
}