.Home{
    
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    top: 100px;
    width: 100%;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    

}

p{
    font-size: 40px;
    color: grey;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px #ffffff; 
    align-items: center;
    padding-left: 20px;
}

 ol{
    font-size: 25px;
    color: grey;
    font-family: 'Teko', sans-serif;
    list-style-type: none;
    text-shadow: 2px 3px #ffffff;
    display: flex;
    flex-direction: column;

   
    
}

